body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-color-title);
  color: var(--main-color-text);
}
:root {
  --main-color-title: #ffffff;
  --secondary-color-title: #2e2f42;
  --main-color-text: #434455;
  --secondary-color-text: #e7e9fc;
  --btn-color: #4d5ae5;
  --active-color: #404bbf;
  --secondary-bgc: #f4f4fd;
}

.list{
  list-style-type: none;
} 

.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* --------------Header------------ */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color-title);
}

.logo-color {
  color: var(--btn-color);
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color-title);
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: var(--active-color);
}

.contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color-text);
}

.contact:hover,
.contact:focus {
  color: var(--active-color);
}
/* --------------Hero------------ */
.hero {
  background-color: var(--secondary-color-title);
}
.main-title {
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--main-color-title);
}

.btn {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-color-title);
  background: var(--btn-color);
}
.btn:hover,
.btn:focus,
.btn.current {
  background-color: var(--active-color);
}

/* --------------About us------------ */
.subtitle {
  font-weight: 500;
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color-title);
}

.text {
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* --------------What are we doing------------ */
.secondary-title {
  font-size: 36px;
  text-align: center;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--secondary-color-title);
}

/* --------------Team------------ */
.team {
  background-color: var(--secondary-bgc);
}
.team-item {
  background-color: var(--main-color-title);

}

/* --------------Footer------------ */
.footer {
  background-color: var(--secondary-color-title);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color-text);
}

.logof {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-bgc);
}

/* -------------- PORTFOLIO ------------ */
.btns {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: var(--secondary-bgc);
}

.btns:hover,
.btns:focus,
.current {
  background-color: var(--active-color);
  color: var(--main-color-title);
}
